<launch>

  <include file="$(find-pkg-share rover_description_pkg)/launch/robot_description.launch.py"/>
  <include file="$(find-pkg-share roboclaw_ros2)/launch/diffdrive.launch"/> 
<!-- <include file="$(find-pkg-share rover_bringup)/launch/rplidar_s1.launch.py"/>  -->

  
  <!-- <node pkg="tf2_ros" exec="static_transform_publisher" name="static_transform_publisher" output="screen" args="0 0 0 0 0 0 odom rover/base_footprint"/> -->

  <include file="$(find-pkg-share rover_bringup)/launch/rs_camera.launch.py"/>

  <!--<node pkg="imu_filter_madgwick" exec="imu_filter_madgwick_node" name="imu_filter" output="screen">
      <param name="use_mag" value="false"/>
      <param name="yaml_filename" value="$(find-pkg-share rover_bringup)/config/imu_filter.yaml"/>
      <remap from="/imu/data_raw" to="/camera/imu"/>
  </node>-->
    


   <!--<node pkg="imu_filter_madgwick" exec="imu_filter_madgwick_node" name="ImuFilter">
      <param name="_use_mag" type="bool" value="false" />
      <param name="_publish_tf" type="bool" value="true" />
      <param name="_world_frame" type="str" value="rover/map" />
      <param name="_fixed_frame" type="str" value="odom" />      
      <remap from="/imu/data_raw" to="/camera/imu"/>
  </node> -->

  <include file="$(find-pkg-share rover_bringup)/launch/rtabmap.launch.py">
      <arg name="args" value="--delete_db_on_start"/>
  </include>    


  <!--<include file="$(find-pkg-share rover_bringup)/launch/3d_navigation_launch.py"/>--> 

</launch>