<launch>

  <include file="$(find-pkg-share rover_description_pkg)/launch/robot_description.launch.py"/>
  <include file="$(find-pkg-share roboclaw_ros2)/launch/diffdrive.launch"/>
  <include file="$(find-pkg-share rover_bringup)/launch/unilidar.launch.py"/>


  <include file="$(find-pkg-share rover_bringup)/launch/4d_rtabmap.launch.py">
      <arg name="args" value="--delete_db_on_start"/>
  </include>    

  <!-- <include file="$(find-pkg-share rover_bringup)/launch/rs_camera.launch.py"/> -->
 
 


</launch>